
.about{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
width:100%;
height:100vh;
}

.card-container{
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content:space-around;
    align-items:center;
}

.card{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 200px;
    height: 300px;
    border-radius:10px;
    background-color: #FAACA8;
background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);

}