.home{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login{
    margin-bottom: 4rem;
    height: 2.5rem;
    width: 20rem;
    border-radius: 30px;
    border: none;
    box-shadow: 0;
    padding: 12px 20px;
}
.button{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(117,191,138,1) 0%, rgba(124,191,134,1) 17%, rgba(253,187,45,1) 100%);
color: white;
width: 9rem;
height: 2.5rem;
border-radius: 20px;
border: none;
box-shadow: none;
}